@model MahaleSystem.ViewModel.Manahel.AddImageVM
<form enctype="multipart/form-data" asp-action="AddImage" asp-controller="Manahels">
<div class="hidden">
    <input type="hidden" asp-for="id" class="hidden bootstrap-switch-readonly">
</div>
<div class="form-group">
    <label asp-for="imageFile" class="control-label">تحميل صورة</label>
    <div class="custom-file">
        <input asp-for="imageFile" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">إختيار صورة</label>
    </div>
    <span asp-validation-for="imageFile" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" id="btnAddImage" value="Add New Image" class="btn btn-success" />
</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAddImage").click(function () {
            var v1 = $("#id").val();
            var v2 = $("#customFile").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddImage2")",
                data: { id: v1, imageFile: v2},
                dataType: "json",
                    success: function (data) {


                },
                    error: function (req, status, error) {
                        console.log(error);
                }
            });
        });

    });
</script>