@{
   
}
@model AddUserViewModel
<link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

<!--Mutipleselect css-->
<link rel="stylesheet" href="~/assets/plugins/multipleselect/multiple-select-rtl.css">
<div class="card custom-card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h4 class="text-center">add user</h4>
                <form method="post" asp-controller="Account" asp-action="AddUser"  enctype="multipart/form-data">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group text-right">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter your ‘ User Name" type="text" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group text-right">
                        <label>Phone</label>
                        <input class="form-control" placeholder="Enter your ‘ User Name" type="text" asp-for="Phone">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group text-right">
                        <label>Password</label>
                        <input class="form-control" placeholder="Enter your password" type="password" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group text-right">
                        <label>Confirm  Password</label>
                        <input class="form-control" placeholder="Enter your password" type="password" asp-for="ConfirmPassword">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group text-right">
                        <label>Confirm  Password</label>
                        <input class="form-control" placeholder="Enter your password" type="file" asp-for="formFile">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <button type="submit" class="btn ripple btn-main-primary btn-block">Add User</button>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card custom-card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
<!--MutipleSelect js-->
<script src="~/assets/plugins/multipleselect/multiple-select.js"></script>
<script src="~/assets/plugins/multipleselect/multi-select.js"></script>