
@{ 
}
<div class="row container">
    <form asp-action="login2" class="col-10" asp-controller="Account">
        <h3>Login With</h3>
        <label class="form-label">Select Admin: <span class="tx-danger">*</span></label>
        <select name="UserName" class="form-control select2" asp-items="ViewBag.Users"></select>
        @*<p class="mg-b-10">Single Select with Search</p>*@
        
        @*<select name="UserName">
            @foreach (var item in ViewBag.Users as List<Tuple<string,string>>)
            {
                <option value="@item.Item1">@item.Item2</option>
            }
        </select>*@
        <button type="submit" class="btn btn-primary mt-1 w-50">Login</button>
    </form>
</div>
<!-- Row -->
<div class="row text-center pl-0 pr-0 ml-0 mr-0">
    <div class="col-lg-3 d-block mx-auto">
        <div class="text-center mb-2">
            <img src="~/assets/img/brand/logo.png" class="header-brand-img" alt="logo">
            <img src="~/assets/img/brand/logo-light.png" class="header-brand-img theme-logos" alt="logo">
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <h4 class="text-center">Signin to Your Account</h4>
                <form>
                    <div class="form-group text-right">
                        <label>Email</label>
                        <input class="form-control" placeholder="Enter your email" type="text">
                    </div>
                    <div class="form-group text-right">
                        <label>Password</label>
                        <input class="form-control" placeholder="Enter your password" type="password">
                    </div>
                    <button class="btn ripple btn-main-primary btn-block">Add user</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- End Row -->