@inject SignInManager<CustomIdentityuser> signInManager
<div class="main-header side-header sticky sticky-pin" style="margin-bottom: -64px;">
    <div class="container-fluid">
        <div class="main-header-left">
            <a class="main-logo d-lg-none" href="index.html">
                <img src="~/assets/img/brand/1.jpg.ico" class="header-brand-img desktop-logo" alt="logo">
                <img src="~/assets/img/brand/1.jpg.ico" class="header-brand-img icon-logo" alt="logo">
                <img src="~/assets/img/brand/1.jpg.ico" class="header-brand-img desktop-logo theme-logo" alt="logo">
                <img src="~/assets/img/brand/1.jpg.ico" class="header-brand-img icon-logo theme-logo" alt="logo">
            </a>
            <a class="main-header-menu-icon" href="" id="mainSidebarToggle"><span></span></a>
        </div>
        <div class="main-header-right">

            <div class="dropdown d-md-flex">
                <a class="nav-link icon full-screen-link">
                    <i class="fe fe-maximize fullscreen-button"></i>
                </a>
            </div>
            @if (signInManager.IsSignedIn(User))
            {
                <div class="dropdown main-profile-menu">
                    <a class="main-img-user" href=""><img alt="avatar" src="~/assets/img/users/1.jpg"></a>
                    <div class="dropdown-menu">
                        <div class="header-navheading">
                            <h6 class="main-notification-title">@User.Identity.Name</h6>
                            <p class="main-notification-text">@User.Identity.Name</p>
                        </div>
                        <a class="dropdown-item" asp-controller="Administration" asp-action="EditUserProfile" asp-route-username="@User.Identity.Name">
                            <i class="fe fe-edit"></i> Edit Profile
                        </a>
                        <a class="dropdown-item border-top" asp-controller="Account" asp-action="Logout">
                            <i class="fe fe-user"></i> Log out
                        </a>

                    </div>
                </div>

            }
            else
            {
                <a class="dropdown-item" href="signin.html">
                    <i class="fe fe-power"></i> Sign as
                </a>
            }

        </div>
    </div>
</div>