<!-- Sidemenu -->
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
            <img src="~/assets/img/brand/1.jpg.ico" class="header-brand-img desktop-logo" alt="logo">
            <img src="~/assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
            <!--logo.png icon.png--->
            <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
            <img src="~/assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo" alt="logo">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav ">
            <li class="nav-label ">Home</li>
            <li class="nav-item active show">
                <a class="nav-link" asp-action="Home" asp-controller="Manahels"><i class="fe fe-airplay"></i><span class="sidemenu-label">Home</span></a>
            </li>
            @*<li class="nav-label">Manhale System</li>*@
            <li class="nav-item">
                <a class="nav-link with-sub text-secondary" href=""><i class=" fe fe-alert-octagon"></i><span class="sidemenu-label">إدارة المناحل</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    @await Component.InvokeAsync("GetManahal")
                </ul>
            </li>
            @*<li class="nav-label">Products</li>*@

            <li class="nav-item">
                <a class="nav-link with-sub text-secondary" href=""><i class="fe fe-box"></i><span class="sidemenu-label">إدارة المنتجات</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    @await Component.InvokeAsync("GetManahal2")
                </ul>
            </li>
            <li class="nav-label">Management user</li>
            <li class="nav-item">
                <a class="nav-link with-sub text-secondary " href=""><i class="fe fe-settings"></i><span class="sidemenu-label">المستخدمين</span></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link text-secondary" asp-controller="Account" asp-action="AddUser">أضافه مستخدم</a>
                    </li>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "userMangment")).Succeeded)
                    {
                        <li class="nav-sub-item">
                            <a class="nav-sub-link text-secondary" asp-controller="account" asp-action="Register">أداره المستخدمين</a>
                        </li>
                   }
                </ul>
            </li>
        </ul>
    </div>
</div>