<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
            <img src="~/assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
            <img src="~/assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
            <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
            <img src="~/assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo" alt="logo">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">
            <li class="nav-label">Home</li>
            <li class="nav-item active show">
                <a class="nav-link" href="index.html"><i class="fe fe-airplay"></i><span class="sidemenu-label">Home</span></a>
            </li>
            <li class="nav-label">Manhale System</li>
            <li class="nav-item">
                <a class="nav-link with-sub" href=""><i class=" fe fe-alert-octagon"></i><span class="sidemenu-label">Manhale mangment </span></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="mail.html">Manhale 1</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="viewmail.html">Manhale 2</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="viewmail.html">Manhale 3</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="viewmail.html">Manhale 4</a>
                    </li>
                </ul>
            </li>
            <li class="nav-label">Products</li>

            <li class="nav-item">
                <a class="nav-link with-sub" href=""><i class="fe fe-box"></i><span class="sidemenu-label">Product Mange</span><i class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="chat.html">product1</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="cards.html">Product 2</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="calendar.html">Product3</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="contacts.html">Product4</a>
                    </li>
                </ul>
            </li>
            <li class="nav-label">Mange user</li>
            <li class="nav-item">
                <a class="nav-link with-sub" href=""><i class="fe fe-settings"></i><span class="sidemenu-label">Users</span></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="map-mapel.html">Usersmange</a>
                    </li>
                </ul>
            </li>




            <li class="mt-3">
                <a class="btn ripple btn-success  btn-block text-white text-icon">Upgrade to pro <i class="fe fe-rotate-cw ml-1"></i></a>
                <a class="btn ripple btn-success  btn-block text-white iconbtn"><i class="fe fe-rotate-cw mr-1"></i></a>
            </li>
        </ul>
    </div>
</div>