@*@model UserChangeUserNameViewModel

<form method="post" asp-controller="Administration" asp-action="userChangeUserName">
    <div class="form-group">
        <label></label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label></label>
        <input type="password" class="form-control" />
    </div>
    <button class="btn ripple btn-primary" type="submit">Save changes</button>
    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
</form>*@
<h1>asd</h1>