@model MahaleSystem.ViewModel.Product.ProductPublishVM
<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h1 class="container">بيع منتج</h1>
                    <p class="text-muted card-sub-title">This is a demo of a required field that must not leave empty.</p>
                </div>
                <form asp-action="Publish" asp-controller="Product" method="post">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label">اسم المنتج: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="ProductName" required="" type="text">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-label">التاريخ: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="datePublish" required="" type="date">
                                <span asp-validation-for="datePublish" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label"> السعر: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="ProductPrice" required="" type="number">
                                <span asp-validation-for="ProductPrice" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-label">الوصف: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="Description" required="" type="text">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="ProdcutID" />

                        <!-- End Row -->
                    </div>
                    <button class="btn ripple btn-main-primary btn-block" type="submit">إضافة المنتج</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
